*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

*.apk

.idea/misc.xml
app/google-services.json

*.apk
.gradle/
build/
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
local.properties
proguard/
*.log
.navigation/
captures/
*.iml
.idea/workspace.xml
.idea/libraries
*.jks
.gitignore
.idea/